<!DOCTYPE html>
<html>
  <head>
    <title>Genericslack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('sunset.png') %>
  </head>

  <body>

    <!-- Navbar goes here -->
  <div class="navbar-fixed">
    <nav>
	    <div class="nav-wrapper container">
	      <%= link_to root_path, class: "brand-logo" do %>
		      	~Slick~
		   <% end %>
	      <ul class="right hide-on-med-and-down">
	      	<%if user_signed_in? %>
            <%= yield :right_nav %>
                <li style="margin-top:7px;"><%= image_tag(current_user.image_url(:thumb), :class=>"circle", size: "50x50")%></li>
                <li><a materialize="dropdown" class="dropdown-trigger" href="#" data-activates="dropdown1"><%= current_user.username %><i class="material-icons right">arrow_drop_down</i></a></li>
                <ul id="dropdown1" class="dropdown-content">
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>      
          <%else%>  
	              <li><%= link_to "Sign Up", new_user_registration_path %></li>
	              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
	      </ul>
	    </div>
    </nav>
  </div>  
    <!-- Page Layout here -->
    <main>
      <div class="row">
        <% if user_signed_in? %>
        <div class="col s3 grey lighten-4" style="position: fixed; background-color: #ECE6F6;">
            
          <h5 class="labels z-depth-2">My Channels</h5>
            <ul>
                <% current_user.chatchannels.public_channels.each do |chatchannel| %>
                <li><strong><%= link_to chatchannel.name, chatchannel, data: {behavior: "chatchannel-link", chatchannel_id: chatchannel.id} %></strong></li>
              <% end %>
            </ul>
          <h5 class="labels z-depth-2">Who's Online</h5>
          <ul>
            <% (User.all - [current_user]).each do |user| %>
            <li>
                  <div class="row valign-wrapper">
                    <div><%= image_tag(user.image_url(:thumb), :class=>"circle", size: "50x50")%>
                    </div>
                  <div>
                    <span><strong><%=link_to user.username, direct_message_path(user.id), :class=>"users", data: {behavior: "chatchannel-link", chatchannel_id: Chatchannel.direct_message_for_users([current_user, user]).id } %>
              </strong></span>
                  </div>
              
              </div>
            </li>
            <%end%>
          </ul>
          
          <% end %>
        </div>
        <div class="col s9 push-s3">
          <%= yield %>
        </div>
      </div>
    </main>

  </body>
</html>